.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  background-image: var(--main-gradient);
}

.presentation-content {
  margin-right: 18rem;
}
